/* ### Primary */
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$lightSoftRed: hsl(10, 79%, 75%);
$lightCyan: hsl(186, 34%, 70%);

/* ### Neutral */
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);
$veryLightGrey: hsl(0, 0%, 93%);


@font-face {
    font-family: DMSans;
    src: url("fonts/DMSans-VariableFont_opsz,wght.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    height: 100vh;
    font-family: DMSans;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(300px, 90vw, 400px);
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $softRed;
    border-radius: 10px;
    color: $veryPaleOrange;
    height: 6rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.my-balance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
        font-size: 0.85rem;
        font-weight: 300;
        color: $cream;
    }
    &__amount {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.chart-section {
    display: flex;
    flex-direction: column;
    background-color: $veryPaleOrange;
    border-radius: 10px;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 390px;
    gap: 1.5rem;
    &__header {
        font-size: 1.4rem;
        color: $darkBrown;
        font-weight: 600;
        overflow: visible;

        @media screen and (min-width: 345px) {
            font-size: 1.5rem;
        }
    }
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 185px;
    &__bar-for-day {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-size: 0.7rem;
        color: $mediumBrown;
        width: 100%;
        &--bar {
            background-color: $softRed;
            border-radius: 5px;
            width: 75%;
            order: 2;
        }
        &--daily-amount {
            display: none;
            height: 2rem;
            border-radius: 5px;
            width: 100%;
            background-color: $darkBrown;
            color: $veryPaleOrange;
            font-family: DMSans;
            font-size: 0.85rem;
            font-weight: 500;
            justify-content: center;
            align-items: center;
            order: 1;
        }
        &--day-of-the-week {
            order: 2;
        }
    }
}

.separator {
    width: 100%;
    min-height: 1.5px;
    background-color: $cream;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    &__amount-label {
        color: $mediumBrown;
        font-size: 0.85rem;
    }
    &__amount {
    color: $darkBrown;
    font-size: 2rem;
    font-weight: 600;
    }
    &__percentage {
        color: $darkBrown;
        font-size: 0.85rem;
        font-weight: 600;
    }
}

.today {
    background-color: $cyan;
}


@media (hover:hover) {
    .chart__bar-for-day--bar:hover,
    .chart__bar-for-day--bar:active {
        cursor: pointer;
        filter: brightness(130%);
    }


    .chart__bar-for-day--bar:hover + .chart__bar-for-day--daily-amount,
    .chart__bar-for-day--bar:active + .chart__bar-for-day--daily-amount {
        display: flex;
    }
}

@media (hover:none) {
    .chart__bar-for-day--bar:active {
        cursor: pointer;
        filter: brightness(130%);
    }

    .chart__bar-for-day--bar:active + .chart__bar-for-day--daily-amount {
        display: flex;
    }
}
